<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxrainbow.rule.operating.dao.ApplyDao">
	<!-- 部门对象 -->
	<resultMap id="Apply" type="com.hxrainbow.rule.model.Apply">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<id column="result" property="result" jdbcType="VARCHAR" />
		<id column="billNum" property="billNum" jdbcType="VARCHAR" />
		<id column="billTime" property="billTime" jdbcType="VARCHAR" />
		<id column="checkTime" property="checkTime" jdbcType="VARCHAR" />
		<id column="userType" property="userType" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="saveApply" parameterType="com.hxrainbow.rule.model.Apply">
		insert into t_apply(uuid,result,billNum,billTime,checkTime,userType) value
		(   #{uuid},
			#{result},
			#{billNum},
			#{billTime},
			#{checkTime},
			#{userType}
		)
	</insert>
</mapper>