<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.springmvc.dao.FlowDao">
	<!-- 部门对象 -->
	<resultMap id="TFlow" type="cn.springmvc.model.TFlow">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<id column="name" property="name" jdbcType="VARCHAR" />
		<id column="url" property="url" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 保存实体 -->
	<insert id="saveFlow" parameterType="cn.springmvc.model.TFlow">
		insert into t_flow(name,url) values(#{name},#{url})
	</insert>
	
	<!-- 根据实体id查询实体 -->
	<select id="getFlowById" resultMap="TFlow" parameterType="Integer">
		select * from t_flow c where  c.id = #{id}
	</select>
	
	<!-- 更新实体 -->
	<update id="updateFlow" parameterType="cn.springmvc.model.TFlow">
		update t_flow set 
			name=#{name},
			url=#{url}
		where id = #{id}
	</update>
	
	<!-- 删除实体 -->
	<delete id="deleteFlow" parameterType="Integer">
		delete from t_flow where id = #{id}
	</delete>
	<!-- 分页使用 -->
	<select id="findTotalCount" resultType="Integer" parameterType="Map">
		select count(t.id) from t_flow t 
		<if test="name != null and  name !=''">
			where t.name like #{name} 
		</if>
	</select>
	<!-- 分页使用 -->
	<select id="findPageDataByHql" resultMap="TFlow" parameterType="Map" >
		select tflow.id ,tflow.url ,tflow.name  from t_flow  tflow 
		<if test="name != null and name !=''">
			where tflow.name like #{name} 
		</if>
		 limit #{page}, #{pageSize}
	</select>
	
</mapper>